In [32]:
# Import dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import hvplot.pandas

In [33]:
# Connect to database
database_url = 'postgresql://postgres:M0ina21@localhost:5432/market_analysis'
engine = create_engine(database_url)

In [34]:
# Query the customers table
query = 'select * from customers'
customers = pd.read_sql(query, engine)
customers.head()

   customerid         country
0     17850.0  United Kingdom
1     13047.0  United Kingdom
2     12583.0          France
3     13748.0  United Kingdom
4     15100.0  United Kingdom

In [35]:
# Query the transactions table
query2 = 'select * from transactions'
transactions = pd.read_sql(query2, engine)
transactions.head()

  invoiceno stockcode  quantity invoicedate  customerid  transaction_id
0    536365    85123A       6.0  2010-12-01     17850.0               1
1    536365     71053       6.0  2010-12-01     17850.0               2
2    536365    84406B       8.0  2010-12-01     17850.0               3
3    536365    84029G       6.0  2010-12-01     17850.0               4
4    536365    84029E       6.0  2010-12-01     17850.0               5

In [36]:
# Query the products table
query3 = 'select * from products'
products = pd.read_sql(query3, engine)
products.head()

  stockcode                          description  unitprice
0    85123A   WHITE HANGING HEART T-LIGHT HOLDER       2.55
1     71053                  WHITE METAL LANTERN       3.39
2    84406B       CREAM CUPID HEARTS COAT HANGER       2.75
3    84029G  KNITTED UNION FLAG HOT WATER BOTTLE       3.39
4    84029E       RED WOOLLY HOTTIE WHITE HEART.       3.39

In [37]:
# merge the dataframes
df = pd.merge(customers, transactions, on='customerid')
df = pd.merge(df, products, on='stockcode')
df.head()

,customerid,country,invoiceno,stockcode,quantity,invoicedate,transaction_id,description,unitprice
0,17850.0,United Kingdom,536365,85123A,6.0,2010-12-01,1,WHITE HANGING HEART T-LIGHT HOLDER,2.55
1,17850.0,United Kingdom,536373,85123A,6.0,2010-12-01,50,WHITE HANGING HEART T-LIGHT HOLDER,2.55
2,17850.0,United Kingdom,536375,85123A,6.0,2010-12-01,67,WHITE HANGING HEART T-LIGHT HOLDER,2.55
3,17850.0,United Kingdom,536396,85123A,6.0,2010-12-01,279,WHITE HANGING HEART T-LIGHT HOLDER,2.55
4,17850.0,United Kingdom,536406,85123A,8.0,2010-12-01,417,WHITE HANGING HEART T-LIGHT HOLDER,2.55

## Prepare the data

In [38]:
# Calculate revenue from each customer
df['revenue'] = df['quantity'] * df['unitprice']
df.head()

,customerid,country,invoiceno,stockcode,quantity,invoicedate,transaction_id,description,unitprice,revenue
0,17850.0,United Kingdom,536365,85123A,6.0,2010-12-01,1,WHITE HANGING HEART T-LIGHT HOLDER,2.55,15.3
1,17850.0,United Kingdom,536373,85123A,6.0,2010-12-01,50,WHITE HANGING HEART T-LIGHT HOLDER,2.55,15.3
2,17850.0,United Kingdom,536375,85123A,6.0,2010-12-01,67,WHITE HANGING HEART T-LIGHT HOLDER,2.55,15.3
3,17850.0,United Kingdom,536396,85123A,6.0,2010-12-01,279,WHITE HANGING HEART T-LIGHT HOLDER,2.55,15.3
4,17850.0,United Kingdom,536406,85123A,8.0,2010-12-01,417,WHITE HANGING HEART T-LIGHT HOLDER,2.55,20.4

In [39]:
# Convert invoidate to datetime
df["invoicedate"] = pd.to_datetime(df["invoicedate"])
df.head()

,customerid,country,invoiceno,stockcode,quantity,invoicedate,transaction_id,description,unitprice,revenue
0,17850.0,United Kingdom,536365,85123A,6.0,2010-12-01,1,WHITE HANGING HEART T-LIGHT HOLDER,2.55,15.3
1,17850.0,United Kingdom,536373,85123A,6.0,2010-12-01,50,WHITE HANGING HEART T-LIGHT HOLDER,2.55,15.3
2,17850.0,United Kingdom,536375,85123A,6.0,2010-12-01,67,WHITE HANGING HEART T-LIGHT HOLDER,2.55,15.3
3,17850.0,United Kingdom,536396,85123A,6.0,2010-12-01,279,WHITE HANGING HEART T-LIGHT HOLDER,2.55,15.3
4,17850.0,United Kingdom,536406,85123A,8.0,2010-12-01,417,WHITE HANGING HEART T-LIGHT HOLDER,2.55,20.4

In [40]:
# Check the max date for reference
max_date = df["invoicedate"].max()
max_date

Timestamp('2011-12-09 00:00:00')

In [41]:
# Calculate the RFM metrics

# Calculate Recency
df['recency'] = (max_date - df['invoicedate']).dt.days

In [42]:
# Display dataframe
df.head()

,customerid,country,invoiceno,stockcode,quantity,invoicedate,transaction_id,description,unitprice,revenue,recency
0,17850.0,United Kingdom,536365,85123A,6.0,2010-12-01,1,WHITE HANGING HEART T-LIGHT HOLDER,2.55,15.3,373
1,17850.0,United Kingdom,536373,85123A,6.0,2010-12-01,50,WHITE HANGING HEART T-LIGHT HOLDER,2.55,15.3,373
2,17850.0,United Kingdom,536375,85123A,6.0,2010-12-01,67,WHITE HANGING HEART T-LIGHT HOLDER,2.55,15.3,373
3,17850.0,United Kingdom,536396,85123A,6.0,2010-12-01,279,WHITE HANGING HEART T-LIGHT HOLDER,2.55,15.3,373
4,17850.0,United Kingdom,536406,85123A,8.0,2010-12-01,417,WHITE HANGING HEART T-LIGHT HOLDER,2.55,20.4,373

In [61]:
# save the dataframe to a csv file
df.to_csv('output/customer_data.csv', index=False)

In [43]:
# create a new dataframe with revenue and recency as columns
new_df = df[["customerid", "revenue", "recency"]]
new_df.head()

   customerid  revenue  recency
0     17850.0     15.3      373
1     17850.0     15.3      373
2     17850.0     15.3      373
3     17850.0     15.3      373
4     17850.0     20.4      373

In [44]:
# Group by customerid and calculate total revenue and avg recency
new_df = new_df.groupby("customerid").agg({"revenue": "sum", "recency": "mean"}).reset_index()
new_df.head()

   customerid     revenue     recency
0      1001.0  1176841.07  176.215909
1     12346.0        0.00  325.000000
2     12347.0     5438.44  189.346154
3     12348.0     1790.16  305.129032
4     12349.0     1942.26   18.000000

In [45]:
# Check the rows of new_df
new_df.shape

(4373, 3)

In [46]:
# Count the frequency of each customer
frequency = df['customerid'].value_counts().reset_index()
frequency

      customerid   count
0         1001.0  133626
1        17841.0    7983
2        14911.0    5903
3        14096.0    5128
4        12748.0    4642
...          ...     ...
4368     13185.0       1
4369     16078.0       1
4370     17331.0       1
4371     16765.0       1
4372     15524.0       1

[4373 rows x 2 columns]

In [47]:
# Merge the frequency with the new_df
rfm_df = pd.merge(new_df, frequency, on="customerid")
rfm_df.head()

   customerid     revenue     recency   count
0      1001.0  1176841.07  176.215909  133626
1     12346.0        0.00  325.000000       2
2     12347.0     5438.44  189.346154     182
3     12348.0     1790.16  305.129032      31
4     12349.0     1942.26   18.000000      73

In [48]:
# Rename count to frquency
rfm_df.rename(columns={"count": "frequency", "revenue":"monetary"}, inplace=True)
rfm_df.head()

   customerid    monetary     recency  frequency
0      1001.0  1176841.07  176.215909     133626
1     12346.0        0.00  325.000000          2
2     12347.0     5438.44  189.346154        182
3     12348.0     1790.16  305.129032         31
4     12349.0     1942.26   18.000000         73

In [49]:
# create a copy of the dataframe
rfm_df_copy = rfm_df.copy()

In [50]:
# Generate summary statistics
summary = rfm_df_copy.describe()
summary

         customerid      monetary      recency      frequency
count   4373.000000  4.373000e+03  4373.000000    4373.000000
mean   15296.407958  2.601701e+03   156.286332     123.589069
std     1735.714404  2.084674e+04    90.661717    2032.624605
min     1001.000000 -1.300200e+03     0.000000       1.000000
25%    13812.000000  3.484900e+02    80.111111      17.000000
50%    15300.000000  7.844300e+02   154.000000      42.000000
75%    16778.000000  1.945960e+03   213.473684     102.000000
max    18287.000000  1.176841e+06   373.000000  133626.000000

In [51]:
# Use the `StandardScaler()` module from scikit-learn to normalize the data
rfm_scaled_data = StandardScaler().fit_transform(rfm_df_copy[["recency", "frequency", "monetary"]])
# Create a DataFrame with the scaled data
rfm_scaled_df = pd.DataFrame(rfm_scaled_data, columns=["recency", "frequency", "monetary"])
# Add the customerid column to the scaled DataFrame
rfm_scaled_df["customerid"] = rfm_df_copy["customerid"]
# Display the scaled DataFrame
rfm_scaled_df.head()

    recency  frequency   monetary  customerid
0  0.219849  65.687327  56.333685      1001.0
1  1.861127  -0.059826  -0.124816     12346.0
2  0.364692   0.028740   0.136091     12347.0
3  1.641925  -0.045557  -0.038933     12348.0
4 -1.525475  -0.024891  -0.031636     12349.0

## Find the best value of K

In [52]:
# Create a list with the number of k-values from 1 to 11
k = list(range(1, 11))
# Create an empty list to store the inertia values
inertia = []
# Loop through each k value
for i in k:
        # Create and fit KMeans model
        model = KMeans(n_clusters=i, random_state =1)
        model.fit(rfm_scaled_df)

        # Append model.inertia_ to the list
        inertia.append(model.inertia_)

In [53]:
# Define a DataFrame to hold the values for k and the corresponding inertia
elbow_data = {"k": k, "inertia": inertia}
df_elbow = pd.DataFrame(elbow_data)

# Review the DataFrame
df_elbow.head()

   k       inertia
0  1  1.317156e+10
1  2  3.433766e+09
2  3  1.591617e+09
3  4  9.576573e+08
4  5  6.532480e+08

In [54]:
# Plot the DataFrame
df_elbow.hvplot.line(
    x="k", 
    y="inertia", 
    title="Elbow Curve", 
    xticks=k
)

:Curve   [k]   (inertia)

### The best value of k is 2

### Using k-means with four clusters

In [58]:
# Define the model with 3 clusters
model = KMeans(n_clusters=2, random_state=1)

# Fit the model
model.fit(rfm_scaled_df)

# Make predictions
k_2 = model.predict(rfm_scaled_df)


# Add a class column with the labels
rfm_df_copy['customer_segment'] = k_2

In [59]:
# Interpret the Customers
# Analyze average RFM values per cluster
rfm_df_copy.groupby('customer_segment').agg({'recency': 'mean', 'frequency': 'mean', 'monetary': 'mean'}).sort_values("monetary", ascending=False).reset_index()

   customer_segment     recency   frequency     monetary
0                 0  157.065912  157.589098  3100.904810
1                 1  155.509245   89.697717  2104.092782

In [57]:
# Close engine
engine.dispose()